<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.selenskitchenapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SelensKitchenApplication"
        tools:targetApi="31">

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WelcomeActivity" />

        <activity android:name=".AboutActivity" />

        <!-- CameraActivity -->
        <activity android:name=".CameraActivity" />

        <!-- CartActivity -->
        <activity android:name=".CartActivity" />

        <!-- CheckoutActivity -->
        <activity android:name=".CheckoutActivity" />

        <!-- CustomGalleryActivity -->
        <activity android:name=".CustomGalleryActivity" />

        <!-- FoodTypeActivity -->
        <activity
            android:name=".FoodTypeActivity"
            android:label="Food Type Activity" />

        <!-- HomeActivity -->
        <activity android:name=".HomeActivity" />

        <!-- LogInActivity -->
        <activity android:name=".LogInActivity" />

        <!-- MyIntentService -->
        <service android:name=".MyIntentService" />

        <!-- Receiver -->
        <receiver android:name=".Receiver" />

        <!-- RegistrationActivity -->
        <activity android:name=".RegistrationActivity" />

        <!-- SearchActivity -->
        <activity android:name=".SearchActivity" />

        <!-- UserProfileActivity -->
        <activity android:name=".UserProfileActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>